.top-card-container {
  margin: 128px 128px 256px 128px;
}

.top-card-container h1 {
  font-size: var(--h1-size);
  font-family: var(--h1-font-bold);
  line-height: var(--h1-height);
  margin-bottom: 32px;
  background-image: var(--color-secondary-gradient);
  background-color: rgb(var(--color-secondary));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.top-card-container h3 {
  color: rgb(var(--color-black));
  font-size: var(--h3-size);
  font-family: var(--h3-font-light);
  line-height: var(--h3-height);
  margin-bottom: 0px;
}
