.home-container {
  margin-top: 128px;
  padding: 0 128px;
}

.clinic-img {
  border-radius: 16px;
  width: auto;
  height: 380px;
}

.home-container h1 {
  background-image: var(--color-secondary-gradient);
  background-color: rgb(var(--color-secondary));
  background-size: 100%;
  font-size: var(--h1-size);
  font-family: var(--h1-font-bold);
  line-height: var(--h1-height);
  text-align: center;
  margin-bottom: 16px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-container h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-height);
  font-family: var(--h3-font-light);
  text-align: center;
  color: rgb(var(--color-black));
  margin-bottom: 64px;
}

.info-container {
  margin: 256px 0;
}

.about-container {
  margin-bottom: 100px;
}

.mision-container {
  margin-right: 50px;
}

.vision-container {
  margin-left: 50px;
}

/*@media (max-width: 768px) {*/
/*.greeting-title {*/
/*margin-bottom: 16px;*/
/*}*/
/*.rol-subtitle {*/
/*margin-bottom: 32px;*/
/*}*/
/*}*/

/*@media (max-width: 991px) {*/
/*.greeting-title {*/
/*font-size: var(--h3-size-phone);*/
/*line-height: var(--h3-height-phone);*/
/*}*/

/*.rol-subtitle {*/
/*font-size: var(--h2-size-phone);*/
/*line-height: var(--h2-height-phone);*/
/*}*/
/*}*/

/*@media (min-width: 992px) {*/
/*.portrait-img {*/
/*width: 400px;*/
/*height: 400px;*/
/*}*/
/*}*/

/*@media (min-width: 1200px) {*/
/*.greeting-title {*/
/*font-size: var(--h3-size);*/
/*line-height: var(--h3-height);*/
/*}*/

/*.rol-subtitle {*/
/*font-size: var(--h2-size);*/
/*line-height: var(--h2-height);*/
/*}*/
/*}*/

/*@media (min-width: 1500px) {*/
/*.home-container {*/
/*padding: 0 256px;*/
/*}*/

/*.portrait-img {*/
/*width: 500px;*/
/*height: 500px;*/
/*}*/
/*}*/
