body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  --color-secondary: #ffeb38;
  --color-brand-gradient: linear-gradient(0.25turn, #3490e5, #ffeb38);
  --color-secondary-gradient: linear-gradient(0.25turn, #3490e5, #506b85);
  --color-black: 39 43 46;
  --color-black-75: rgba(39, 43, 46, 0.75);
  --color-black-25: rgba(39, 43, 46, 0.25);
  --color-black-5: rgba(39, 43, 46, 0.05);
  --color-white: #f0f8ff;
}

/*@font-face {*/
/*}*/
